@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital@0;1&display=swap');
body {
    font-family: 'Gentium Plus', serif;
    font-size: 20px;
    background-color: #faf3f0;
    color: #261414;
}
* {
    margin: 0;
    padding: 0;
}
